<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="answer">
            <h2><span jhiTranslate="sbrtApp.answer.detail.title">Answer</span> {{answer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="sbrtApp.answer.title">Title</span></dt>
                <dd>
                    <span>{{answer.title}}</span>
                </dd>
                <dt><span jhiTranslate="sbrtApp.answer.description">Description</span></dt>
                <dd>
                    <span>{{answer.description}}</span>
                </dd>
                <dt><span jhiTranslate="sbrtApp.answer.datePublished">Date Published</span></dt>
                <dd>
                    <span>{{answer.datePublished}}</span>
                </dd>
                <dt><span jhiTranslate="sbrtApp.answer.content">Content</span></dt>
                <dd>
                    <span>{{answer.content}}</span>
                </dd>
                <dt><span jhiTranslate="sbrtApp.answer.timesSeen">Times Seen</span></dt>
                <dd>
                    <span>{{answer.timesSeen}}</span>
                </dd>
                <dt><span jhiTranslate="sbrtApp.answer.user">User</span></dt>
                <dd>
                    {{answer.userId}}
                </dd>
                <dt><span jhiTranslate="sbrtApp.answer.question">Question</span></dt>
                <dd>
                    <div *ngIf="answer.questionId">
                        <a [routerLink]="['/question', answer.questionId, 'view']">{{answer.questionId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sbrtApp.answer.legalEntity">Legal Entity</span></dt>
                <dd>
                    <div *ngIf="answer.legalEntityId">
                        <a [routerLink]="['/legal-entity', answer.legalEntityId, 'view']">{{answer.legalEntityId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="sbrtApp.answer.cnae">Cnae</span></dt>
                <dd>
                    <div *ngIf="answer.cnaeId">
                        <a [routerLink]="['/cnae', answer.cnaeId, 'view']">{{answer.cnaeId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/answer', answer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
